:root{
    --color-bg: #090040;
    --color-bg-secondary: #1d0c4c;
    --color-surface: #471396;
    --color-primary: #B13BFF;
    --color-accent: #00E0B8;
    --color-text: #eaeaea;
    --color-text-secondary: #dcc6e0;

    --color-code-bg: #1d0c4c;
    --color-code-text: #f1f1f1;

    --transparent:#00000000;
}
body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

h2, h3, h4, h5, h6 {
    color: var(--color-primary);
}
h1 > a{
    color: var(--color-primary);
	text-decoration: none;
}
pre, code {
    background-color: var(--color-code-bg);
    color: var(--color-code-text);
}
.navBar > .nav-link{
    color: var(--color-text-secondary);
	background-color: #00000000;
}
.navBar > .nav-link:hover{
    color:var(--color-accent);
}
.button{
    background-color: var(--color-accent);
    color: var(--color-surface);
    transition: background-color 0.2s ease, transform 0.1s ease;
}
.button:hover,.button:focus {
    background-color: var(--color-primary);
    transform: translateY(-1px);
}
.button.active {
    transform: translateY(1rem);
    background-color: var(--color-surface);
    color:var(--color-accent);
}
.navBar{
	background-color: var(--color-bg) ;
	transition: all 1s cubic-bezier(.165,.84,.44,1);
}
section#contact .button{
    color: var(--color-accent);
	background-color: var(--color-surface);
}
.project-card{
    background-color: var(--color-bg);
}
.button img{
    color: var(--color-surface);
}