---
import SectionWrapper from './SectionWrapper.astro';
import AboutMd from '../md/about.md';
---

<SectionWrapper id="start" class="relative scroll-mt-20 h-screen px-[20%] w-full flex flex-col place-content-center overflow-hidden">
    <div class="max-w-3xl mx-auto flex flex-col items-center text-center [&>p]:mt-8">
        <AboutMd />
    </div>
</SectionWrapper>