---
import GithubLogo from '../assets/github-logo.astro';
import LinkedinLogo from '../assets/linkedin-logo.astro';
import LeetcodeLogo from '../assets/leetcode-logo.astro';
import SignalLogo from '../assets/signal-logo.astro';
import LinkButtonComponent from './LinkButtonComponent.astro';

const githubUrl = "https://github.com/Y4vra";
const linkedinUrl = "https://www.linkedin.com/in/javiercarrascoarango";
const leetcodeUrl = "https://www.leetcode.com/slavencer";
const signalUrl = "https://signal.me/#eu/-gnbaFEXeBNhNFGqMfudDoDDlm3wNsL8Lp9-wxskdujg7n359tNPd4hCf2Tyb5wC";
---
<section id="contact" class="scroll-mt-20 w-full h-screen px-[20%] md:px-[40%] flex flex-col justify-center gap-4">
	<!-- GitHub -->
      <LinkButtonComponent
      href={githubUrl} 
      label={"Github"} 
      >
      <GithubLogo class="w-8 h-8" slot="image"/> 
      </LinkButtonComponent>
	<!-- LinkedIn -->
	<LinkButtonComponent 
      href={linkedinUrl} 
      label={"LinkedIn"}>
      <LinkedinLogo class="w-8 h-8" slot="image"/> 
      </LinkButtonComponent>
	<!-- LeetCode -->
	<LinkButtonComponent 
      href={leetcodeUrl} 
      label={"Leetcode"} 
      >
      <LeetcodeLogo class="w-8 h-8" slot="image"/>
      </LinkButtonComponent>
	<!-- Signal -->
	<LinkButtonComponent 
      href={signalUrl} 
      label={"Signal"} 
      >
      <SignalLogo class="w-8 h-8" slot="image"/>
      </LinkButtonComponent>
</section>