---
import { fade } from 'astro:transitions';
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="container" transition:animate={fade({duration:"0.4s"})}>
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section>

		</section>
	</main>
</div>
