---
const currentPath = Astro.url.pathname;
import { useState } from "react";
---
<div class="navBar">
  <h1><a>Y4vra</a></h1>
  <nav>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"#porfolioSection" ? "active button" : "button"}`} href="#porfolioSection">Projects</a>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"#aboutMeSection" ? "active button" : "button"}`} href="#aboutMeSection">About Me</a>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"#contactSection" ? "active button" : "button"}`} href="#contactSection">Socials</a>
  </nav>
</div>