---
const currentPath = Astro.url.pathname;
---
<div class="navBar">
  <h1><a href="#start">Y4vra</a></h1>
  <nav>
    <a class={`nav-link ${currentPath.endsWith("#portfolio") ? "active button" : "button"}`} href="#portfolio">Projects</a>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"#about" ? "active button" : "button"}`} href="#about">About Me</a>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"#contact" ? "active button" : "button"}`} href="#contact">Contact</a>
  </nav>
</div>