---
const currentPath = Astro.url.pathname;
import { useState } from "react";
---
<div class="navBar">
  <h1><a>Y4vra</a></h1>
  <nav>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"/projects" ? "active button" : "button"}`} href={import.meta.env.BASE_URL+"/projects"}>Projects</a>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"/about" ? "active button" : "button"}`} href={import.meta.env.BASE_URL+"/about"}>About Me</a>
    <a class={`nav-link ${currentPath === import.meta.env.BASE_URL+"/socials" ? "active button" : "button"}`} href={import.meta.env.BASE_URL+"/socials"}>Socials</a>
  </nav>
</div>