---
const currentPath = Astro.url.pathname;
---
<nav>
  <a class={`nav-link ${currentPath === '/projects' ? 'active button' : 'button'}`} href="projects">Projects</a>
  <a class={`nav-link ${currentPath === '/about' ? 'active button' : 'button'}`} href="about">About Me</a>
  <a class={`nav-link ${currentPath === '/socials' ? 'active button' : 'button'}`} href="socials">Socials</a>
</nav>