---
---

<section id="start" class="bg-bgLight">
	<h1 class="">Hi, I'm Javier Carrasco Arango</h1>
	<p>Aspiring software engineer passionate in full stack development, cybersecurity, and team leadership. I'm dedicated to lifelong learning.</p>
</section>

