---
import { fade } from 'astro:transitions';
---

<div class="container" transition:animate={fade({duration:"0.4s"})}>
	<section class="container centered">
		<h1>Hi, I'm Javier Carrasco Arango</h1>
		<p>Aspiring software engineer passionate in full stack development, cybersecurity, and team leadership. I'm dedicated to lifelong learning.</p>
	</section>
</div>

