---
import RotatingText from "./RotatingText"
---

<section id="start" class="scroll-mt-20 h-screen px-[20%] w-full flex flex-col place-content-center">
	<h1>Hi, I'm Javier Carrasco Arango</h1>
	<p class="text-lg md:text-xl leading-relaxed">Aspiring software engineer passionate in <RotatingText client:load
  texts={['full-stack dev', 'cybersecurity','team leadership', 'lifelong learning']}
  mainClassName="inline-flex px-2 sm:px-2 md:px-3 bg-light-accent-500 dark:bg-dark-accent-400 text-light-main-50 dark:text-dark-accent-700 overflow-hidden py-0.5 sm:py-1 md:py-2 justify-center rounded-lg"
  staggerFrom={"last"}
  initial={{ y: "100%" }}
  animate={{ y: 0 }}
  exit={{ y: "-120%" }}
  staggerDuration={0.025}
  splitLevelClassName="overflow-hidden pb-0.5 sm:pb-1 md:pb-1"
  transition={{ type: "spring", damping: 30, stiffness: 400 }}
  rotationInterval={3000}
/></p>
</section>

