---
---

<section id="start" class="scroll-mt-20 h-screen px-[20%] w-full flex flex-col place-content-center">
	<h1 class="">Hi, I'm Javier Carrasco Arango</h1>
	<p>Aspiring software engineer passionate in full stack development, cybersecurity, and team leadership. I'm dedicated to lifelong learning.</p>
</section>

