---
import { fade } from 'astro:transitions';
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="container" transition:animate={fade({duration:"0.4s"})}>
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<section class="centered">
		<h1>
			What do you wish to see?
		</h1>
		<section id="links">
			<a class="button" href="projects">Projects</a>
			<a class="button" href="about">About me</a>
			<a class="button" href="socials">Contact info and other networks</a>
		</section>
	</section>
</div>

