---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={import.meta.env.BASE_URL+"/favicon.svg"} />
		<title>Y4vra's porfolio</title>
	</head>
	<body>
		<slot name="navigation"/>
		<main>
			<slot id="welcomeSection" name="presentation"/>
			<slot id="porfolioSection" name="projects"/>
			<slot id="contactSection" name="contact"/>
			<slot id="aboutMeSection" name="about"/>
		</main>
	</body>
</html>

