---

import background from '../assets/background.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={import.meta.env.BASE_URL+"/favicon.svg"} />
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<title>Y4vra's porfolio</title>
	</head>
	<body>
		<slot name="navigation"/>
		<img id="background" src={background.src} alt="" fetchpriority="high" />
		<main>
			<slot id="start" name="start"/>
			<slot id="portfolio" name="projects"/>
			<slot id="about" name="about"/>
			<slot id="contact" name="contact"/>
		</main>
	</body>
</html>

